@charset "utf-8";


:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
   }

   * {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
   }

body {
    background-color: var(--app-dark-bg);
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

h1 {
    padding-top: 30px;
    padding-bottom: 0px;
    color: #fff;
    text-align: center;
}

h2 {
    color: #fff;
    text-align: center;
}

h3 {
    color: #fff;
    font-weight: 200;
    text-align: center;
    padding-bottom: 5px;
}

.box {
    height: 50px;
    width: 50px;
    position: relative;
    background-color: var(--app-blue);
}